:root {
    font-size: 40%;
}

#page-landing {
    background-color: var(--color-primary);
}

#page-landing #container{
    color: var(--color-text-in-primary);
}

.logo-container img {
    height: 10rem;
}